@import url(https://fonts.googleapis.com/css?family=Varela+Round|Open+Sans:400,300,600,400italic,700);

.section-heading {
    padding-bottom: 5%;
}

#player {
    padding-top: 20%;padding-left: 20%;
}
#player td {
    padding-left: 20%;
}
#player-d {
    padding-top: 3%;
}
#player-d h3 {
    padding-bottom: 3%;
}
.plyr {
    padding-left: 20%;padding-right:20%;
}
#plyr td{
    padding-top: 2%;
    padding-left: 8%;
    padding-bottom: 2%;
}
#plyr{
    padding-left: 15%;
    padding-right: 15%;
}
